@font-face {
    font-family: "Figtree-SemiBold";
    src: url("../../docs/fonts/Figtree-SemiBold.woff");
}

@font-face {
    font-family: "Figtree-Bold";
    src: url("../../docs/fonts/Figtree-Bold.woff");
}
