:root {
    --color-white: #ffffff;
    --color-dark: #06141d;
    --color-gray1: #1b2730;
    --color-gray2: #28343e;
    --color-gray3: #d9d9d9;
    --color-gray4: #abacae;
    --color-blue: #03a9f4;
    --color-crimson: #dc143c;

    --medium: "Nunito-Medium";
    --semibold: "Nunito-SemiBold";
    --bold: "Nunito-Bold";
    --extrabold: "Nunito-ExtraBold";
}
