@import url("./global/global.css");
@import url("./pages/index/partials/header.css");
@import url("./pages/index/partials/profile.css");
@import url("./pages/index/partials/posts.css");
/* @import url("./pages/index/partials/section-posts.css"); */

.container {
    max-width: 1320px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template: 100px auto / 100%;
}
