.container {
    position: relative;
    margin: 0 auto;
    max-width: 1450px;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: var(--color-gray4);
    border-radius: 0.5rem;
    display: grid;
    grid-template: 80px calc(100% - 80px) / 100%;
}

.header-page {
    background-color: var(--color-gray3);
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: center;
}

.header-page h1 {
    font-family: var(--bold);
    font-size: 2.2rem;
}

.header-page button {
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.2rem;
    background-color: var(--color-blue);
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.header-page button p {
    font-family: var(--semibold);
    font-size: 1rem;
    color: var(--color-white);
}
