header {
    width: 100%;
    height: 100px;
}

header nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 360px repeat(3, auto);
    justify-content: start;
    align-content: center;
    gap: 1.5rem;
}

header nav a {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

header nav a img {
    width: 1.8rem;
}

header nav a:nth-child(1) p {
    color: var(--color-blue);
}

header nav a p {
    font-family: var(--bold);
    color: var(--color-gray2);
}
