.posts-section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 100px auto / 100%;
    align-content: start;
    gap: 1rem;
}

.posts-section .add-post-area {
    background-color: var(--color-gray1);
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: calc(100% - 8.8rem) 8rem;
    gap: 0.8rem;
}

.posts-section .add-post-area .add-post-text {
    width: 100%;
    height: 100%;
    background-color: var(--color-gray2);
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: var(--semibold);
    color: var(--color-gray3);
    font-size: 1.3rem;
    position: relative;
}

.posts-section .add-post-area .add-post-text::placeholder {
    color: var(--color-gray3);
}

.posts-section .add-post-area .add-post-btn {
    width: 8rem;
    height: 100%;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-family: var(--semibold);
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.posts-section .posts {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
}

.posts-section .posts .post {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-gray1);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
}

.posts-section .posts .post .post-header {
    height: 3rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.posts-section .posts .post .post-header .info-post {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.posts-section .posts .post .post-header .info-post img {
    width: 3rem;
}

.posts-section .posts .post .post-header .info-post p {
    color: var(--color-white);
    font-family: var(--bold);
    font-size: 1rem;
}

.posts-section .posts .post .post-header .info-post .date {
    font-family: var(--medium);
}

.posts-section .posts .post .post-header .actions {
    display: grid;
    grid-auto-flow: column;
    gap: 0.6rem;
}

.posts-section .posts .post .post-header .actions button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-family: var(--bold);
    font-size: 1rem;
    color: var(--color-white);
    cursor: pointer;
}

.posts-section .posts .post .post-header .actions .edit-post-button {
    background-color: var(--color-blue);
}

.posts-section .posts .post .post-header .actions .delete-post-button {
    background-color: var(--color-crimson);
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--color-gray2);
}

.posts-section .posts .post .post-text {
    word-wrap: break-word;
    word-break: break-all;
    color: var(--color-gray3);
    font-family: var(--medium);
    font-size: 1.2rem;
    line-height: 1.7rem;
}
